.container{
    z-index: 2;
    position: absolute;
    left: 15%;
    top: 9%;
    margin: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link {
    width: 70px;
    padding: 0 2em;
    color: black;
    transition: .2s all;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 500;
}

.link:hover{
text-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1000px) {
    .container{
        left: 20%;
    }
}

@media only screen and (max-width: 750px) {
    .container{
        height: 50px;
    }

    .logoContainer{
        display: none;
    }

    .link{
        font-size: 15px;
    }
}



  
@media only screen and (max-width: 750px) {
    .logoContainer{
        display: none;
    }
}
