.container {
    background-color: var(--new-design-grey);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}


.circle {
    position: absolute;
    width: 80%;
    height: 100%;
    border-radius: 500px;
    right: -35%;
    top: -10%;
    background-color: var(--new-design-yellow);
    background-image: url("../../assets/splash.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
}


.content{
    width: 50%;
    margin-left: 5%;
    height: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.title{
    font-size: 3.5em;
    color: white;
    margin: 10px 0;
    font-weight: 800;
}

.subTitle{
    margin: 0;
    font-size: 1.5em;
    color: white;
}

.buttonWrapper{
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  

@media only screen and (max-width: 1200px) {
    .title{
        font-size: 10vw;
    }

    .subTitle {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 1000px) {
    .title{
        font-size: 10vw;
    }

    .subTitle {
        font-size: 3vw;
    }
}


@media only screen and (max-width: 750px) {
    .container {
        height: 300px;
    }

    .title{
        font-size: 12vw;
    }

    .subTitle {
        font-size: 3.5vw;
    }
}


@media only screen and (max-width: 600px) {
    .title{
        font-size: 11vw;
    }

    .subTitle {
        font-size: 3.5vw;
    }
}



@media only screen and (max-width: 450px) {
    .container{
        height: 400px;
    }

    .title{
        margin-top: 60px;
        font-size: 14vw;
        text-align: center;
    }

    .subTitle {
        font-size: 3.5vw;
    }

    .content {
        align-items: center;
    }



  
}

