.button {
    margin-top: 10px;
    font-size: 1.7em;
    padding: 12px 0;
    width: 30%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: var(--new-design-pink);
    color: rgb(255, 255, 255);
    transition: .2s all;
    border-radius: 10px;
    box-shadow: 15px 15px 20px rgb(0,0,0,0.5);
}

.button:hover{
    transform: translate(-3px, -3px);
    box-shadow: 18px 18px 20px rgb(0,0,0,0.5);
}

.button:disabled{
    font-size: 1.5em;
}

.button:disabled:hover {
    transform: none;
    box-shadow: 15px 15px 20px rgb(0,0,0,0.5);
}

@media only screen and (max-width: 1000px) {

    .button {
        width: 50%;
    }
  
}
  


@media only screen and (max-width: 900px) {
    .button {
        font-size: 5vw;
    }
}


@media only screen and (max-width: 600px) {
    .button {
        font-size: 7vw;
    }
}