.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.cardsContainer{
  width: 101vw;
  display: grid;
  flex-direction: column;
  gap: 30px;
  grid-template-columns: 100%;
}

.nearby{
  text-align: center;
  font-size: 6em;
  margin: 80px 0 30px 0;
  color: var(--new-design-grey);
  font-weight: 800;
}


@media only screen and (max-width: 1200px) {
  .nearby{
    font-size: 5.5em;
  }
}

@media only screen and (max-width: 1000px) {
  .nearby{
    font-size: 5em;
  }
}


@media only screen and (max-width: 750px) {
  .nearby{
    font-size: 3.7em;
  }
}